/* web page stly */

header {
    background-color: #40A2E3;
    color: #FFF6E9; 
}

.display-4 {
    font-weight: 550;
}

body {
    background-color: #f8f9fa; 
    font-family: "Ubuntu", serif; 
}

footer {
    color: black; 
    
}

.card-title {
    font-family: 'Ubuntu', serif; 
    font-weight: 400;
    color : #0D9276;
}

.card-text {
    font-family: "Ubuntu", serif;
}

.btn {
    background-color: #40A2E3;
    border: #40A2E3;
}

.col-12 {
    color: #0D9276;
}